body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #090979, #17B978);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: 1px solid #4caf50;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

del {
    color: #888;
}

button.complete-btn,
button.delete-btn {
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
    outline: none;
}

button.complete-btn {
    background-color: #3F51B5;
    color: #fff;
    border: 1px solid #3F51B5;
}

button.complete-btn:hover {
    background-color: #303F9F;
}

button.delete-btn {
    background-color: #E91E63;
    color: #fff;
    border: 1px solid #E91E63;
}

button.delete-btn:hover {
    background-color: #C2185B;
}
